.btn{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--letra-color);;
    color: var(--fondo-items-color);
    font-family: 'Lato', sans-serif;
}
.navbar{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: var(--fondo-items-color);
}