.btn{
    margin-left: 90%;
    
    background-color: var(--letra-color);;
    color: var(--fondo-items-color);
    font-family: 'Lato', sans-serif;
}
.navbar{
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
    
    background-color: var(--fondo-items-color);
    position: fixed;
}


.dropdown{
    margin-left: 20%;
    
}
.dropdown-menu{
    background-color: var(--fondo-items-color);
    
}

.dropdown-item{
    color: var(--letra-color);
}

.btn-proyectos{
background-color: transparent;
border: none;
}

  .custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
  }