#contenedor{
    
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    background-color: var(--blue-color);
    margin-top: 10px;
    display: flex;
}

#fotoPerfil{
    width: 130%;
    height: 300px;
}

#contenedor-nombre{
    
    width: 100%;
    text-align: center;
    margin: auto;
    color: var(--color-letra-fondo-green)
}

#tituolo-presentacion{
    font-family: 'Lato', sans-serif;
}

#parrafo-presentacion{
    font-family: 'Lato', sans-serif;
}

